{% extends 'layout.html.twig' %}

{% block content %}
<div class="customer-block">

    {% for customer in customers %}
        <article classe="block-customer">
            <a href="/customers/show?id={{customer.id}}">
                <p class="p-customer"> {{ customer.lastname }}  {{ customer.firstname }} </p>
                <p class="p-customer"> {{ customer.city }} </p>
                <p class="p-customer"> {{ customer.type }} </p>
            </a>
        </article>
    {% endfor %} 
    <a href="/customers/add" role="button" class="add-button-customer">
        Nouveau client
    </a>
</div>
{% endblock %}
{% block buttons %}
{% endblock %}
{% block modaldelete %}
{% endblock %}
