{% extends 'layout.html.twig' %}

{% block navbar %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="container-head-invoice">
        <img src="/assets/images/logo2.png" alt="logo de perle do" class="img-invoice">
        <h2>Facture n° {{ invoice.numInvoice }}</h2>
        <p>date : {{ invoice.date|date("m-d-Y", "Europe/Paris") }}</p>
    </div>

    <div class="container-name-invoice">
        <div class="container-society">
            <ul>
                <li>
                    <h3 class="society">Perle DO</h3>
                </li>
                <li>SAS au capital de 1 000 €</li>
                <li>75-77 avenue Victor Hugo</li>
                <li>69160 Tassin La Demi-Lune</li>
                <li>Siret : 978 254 878 00017</li>
                <li>N° TVA : FR61978254878</li>
            </ul>
        </div>
        <ul>
            <li>{{ invoice.lastname }} {{ invoice.firstname }}</li>
            <li>{{ invoice.adress }}</li>
            <li>{{ invoice.zipcode }} {{ invoice.city }}</li>
            <li>{{ invoice.customerReference }}</li>
        </ul>
    </div>

    <table role="grid">
        <thead>
            <tr class="thead">
                <th scope="col">Référence</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Montant TTC</th>
            </tr>
        </thead>
        <tbody>
            
            {% for product in products %}
            <tr>
                <td>{{ product.productRef }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                {# <td>inserer les quantités</td>
                <td>{% set pricetotal = product.price * "quantité de produit"  %} #}
                {{ pricetotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-name-invoice">
        <div class="container-society">
            <p>Echéance : {{ invoice.date|date("m-d-Y", "Europe/Paris") }}</p>
            <p>Règlement : {{ invoice.payment_type }}</p>
        </div>
        <div class"total-invoice">
            <ul>
                <li>Sous-Total : insérer le calcul du total</li>
                <li>Remise : 
                    {% if invoice.discount !=0 %}
                        {{ invoice.discount *100 }} %
                    {% else %}
                        {{ invoice.customerDiscount *100 }} %
                    {% endif %}
                </li>
                <li>Total : insérer le total après remise</li>
                <li>Dont Tva : insérer le montant de la TVA</li>
            </ul>
        </div>
    </div>



{% endblock %}