{% extends 'layout.html.twig' %}

{% block content %}
<h3 class="product">{{ products[0].categoryName}} / {{ products[0].materialName }}</h3>
<div class="customer-block">
    {% for product in products %}
        <article class="article-category">
            <a href="#">
                <ul>
                    <li><strong>{{ product.productName }}</strong></li> 
                    <li>{{ product.price }} € </li>
                    <li>{{ product.description }} </li>
                    <li>{{ product.referenceProduct }}</li>
                </ul>
            </a>
            <div class=container-plus-minus>
                <button class="cart-shopping minus">
                    <i class="fa-solid fa-minus color"></i>
                </button>
                <span class="product-span number">1</span>
                <button class="cart-shopping plus">
                    <i class="fa-solid fa-plus color"></i>
                </button>
            </div>
            <a href="" role="button class="cart-shopping_product">
                <i class="fa-solid fa-cart-shopping color shop-product"></i>
            </a>
        </article>
    {% endfor %}
{% endblock %}
{% block buttons %}
{% endblock %}
{% block modaldelete %}
{% endblock %}
