{% extends 'layout.html.twig' %}

{% block content %}
	<h3 class="product">{{ products[0].categoryName}}
		/
		{{ products[0].materialName }}</h3>
	<div class="customer-block">
		{% for product in products %}
			<article class="article-category">
				<a href="/products/show?id={{ product.id }}">
					<ul>
						<li>
							<strong>{{ product.productName }}</strong>
						</li>
						<li>{{ product.price }}
							€
						</li>
						<li>{{ product.description }}
						</li>
						<li>{{ product.referenceProduct }}</li>
					</ul>
				</a>
				<form action="" method="post">
					<input type="hidden" name="product_id" value={{ product.id }}>
					<input type="number" name="quantity" value="0" min="0" max="{{p.quantity}}">
					<input type="submit" value="ajouter">
				</form>
				<a href="" role="button" class="cart-shopping_product">
					<i class="fa-solid fa-cart-shopping color shop-product"></i>
				</a>


			</article>
		{% endfor %}
	</div>
	<a href="/products/add" role="button" class="add-button-customer">
		Nouveau Produit
	</a>
{% endblock %}
{% block buttons %}{% endblock %}
{% block modaldelete %}{% endblock %}
