{% extends 'layout.html.twig' %}

{% block navbar %}
	{{parent()}}
{% endblock %}

{% block content %}
	<div class="auth_page">
		<h1>Liste des utilisateurs</h1>
		<ul>
			{% for user in users %}
				<article>
					<li><a href="/user/show?id={{ user.id }}">{{ user.lastname }} {{ user.name }} {{ user.pseudo }} {{ user.role }}</a></li>
				</article>
			{% endfor %}
		</ul>
		<article>
			<a href="user/add">Ajouter un compte</a>
		</article>
	</div>
{% endblock %}

{% block buttons %}{% endblock %}
