{% extends 'layout.html.twig' %}

{% block navbar %}
	{{parent()}}
{% endblock %}

{% block content %}
	<div class="auth_page">
		<h1>Liste des utilisateurs</h1>
		<ul>
			{% for user in users %}
				<article class="article-category">
					<li><a href="/user/show?id={{ user.id }}">{{ user.lastname }} {{ user.name }} {{ user.pseudo }} {{ user.role }}</a></li>
				</article>
			{% endfor %}
		</ul>
			<a href="user/add" role="button" class="add-button-customer"">Ajouter un compte</a>
	</div>
{% endblock %}
