{% extends 'layout.html.twig' %}

{% block navbar %}
{{parent()}}
{% endblock %}

{% block content %}
<div class="auth-page">   
<h1>Items</h1>
    <ul>
        {% for user in users %}
            <article></article><li><a href="/User/show?id={{ user.id }}">{{ user.lastname }}. {{ user.name }}. {{ user.pseudo }}. {{ user.role }}</a></li></article>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/items/add">Ajouter</a></div> 
{% endblock %}

{% block buttons %}{% endblock %}